--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/pre-release
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
openvino_genai~=2025.2.0.0.dev
openvino-tokenizers~=2025.2.0.0.dev
optimum-intel[nncf] @ git+https://github.com/huggingface/optimum-intel.git@main
gradio==5.31.0
